In [5]:
pip install psycopg2-binary --no-cache-dir

Requirement already satisfied: psycopg2-binary in /Users/flushingmacmini/opt/anaconda3/lib/python3.9/site-packages (2.9.2)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import psycopg2

In [27]:
conn = psycopg2.connect(
    host="localhost",
    database="blood_donation_db",
    user="postgres",
    password="NasaDog2020@")

In [28]:
cur = conn.cursor()

In [29]:
cur.execute("SELECT * FROM donor;")
cur.fetchall()

[('Sai@gmail.com', 2001, 'Sia', 'Ai', 'Sai@gmail.com', 'Sai213'),
 ('hollyasher@gmail.com',
  2002,
  'Holly',
  'Asher',
  'hollyasher@gmail.com',
  'hollyasher123'),
 ('hollya2003@gmail.com',
  2003,
  'Holly',
  'Asher',
  'hollya2003@gmail.com',
  '123'),
 ('Rachel.mane@gmail.com',
  2004,
  'Rachel',
  'Mane',
  'rachelmane@gmail.com',
  'rachelmane123')]

In [30]:
##Application Code demonstrating the insert
cur.execute("""
    INSERT INTO recipient_details(recipient_id, recipient_firstName, recipient_lastName, recipient_number, recipient_email, recipient_age, recipient_gender, recipient_bloodtype, recipient_address)
    values(%s, %s, %s, %s, %s, %s, %s, %s, %s);
    """, 
    ("3004","Betty","Tai","5743430293","bettytai@gmail.com",32,"Female","O+","13675 37 Ave Apt 1B"))

In [31]:
##Application Code demonstrating that the insert worked. 
cur.execute("SELECT * FROM recipient_details;")
cur.fetchall()

[(3001,
  'Mark',
  'Smith',
  '2129280392',
  'marksmith@gmail.com',
  27,
  'Male',
  'B+',
  '15 Marks Place'),
 (3002,
  'Mike',
  'Doe',
  '6469270392',
  'mikedoe@gmail.com',
  35,
  'Male',
  'B+',
  '36 Saint George Road'),
 (3003,
  'Joe',
  'Campbell',
  '5162930293',
  'johnnylee@gmail.com',
  32,
  'Male',
  'O+',
  '225 E 34th Street Apt 21G'),
 (3004,
  'Betty',
  'Tai',
  '5743430293',
  'bettytai@gmail.com',
  32,
  'Female',
  'O+',
  '13675 37 Ave Apt 1B')]

In [36]:
##This triggers the stored procedure of auditing the last name of the employee. 
cur.execute(
  "UPDATE medpersonnel SET empl_lastName=(%s)"
  " WHERE empl_id = (%s)", 
  ("Black","1003",));

In [37]:
cur.execute("SELECT * FROM medpersonnel_audits;")
cur.fetchall()

[(1003, 'Coffing', datetime.datetime(2022, 2, 7, 14, 0, 12, 574132)),
 (1003, 'Brown', datetime.datetime(2022, 2, 7, 15, 24, 8, 781071))]